{% extends 'layout.twig' %}
{% block content %}

    <div class="ui form inverted">
        <div class="ui three white fields">
            <div class="field">&nbsp;</div>
            <div class="field center">
                <img alt="Baptiste Mikaelian" class="ui circular middle aligned small image"
                     src="/picture/baptiste_2.jpg">

                <div id="main">
                    <br>

                    <h1>Baptiste Mikaelian</h1>
                    <h4 class="ui red dividing inverted header">&nbsp;</h4>

                    <p>Student at <a href="http://42.fr"> @42BornToCode</a> <sup>2nd year</sup></p>

                    <p>06 68 10 44 82</p>

                    <p><a href="mailto:baptiste.mikaelian@gmail.com">baptiste.mikaelian@gmail.com</a></p>
                    <h4 class="ui red dividing inverted header">&nbsp;</h4>

                    <p>
                        <a href="https://www.linkedin.com/profile/view?id=278011128" target="_blank">
                            <i class="linkedin big inverted icon popup" data-content="Linkedin"
                               data-variation="inverted" data-position="bottom right"></i>
                        </a>
                        <a href="https://github.com/bmikaeli" target="_blank">
                            <i class="github big inverted icon popup" data-content="GitHub" data-variation="inverted"
                               data-position="bottom center"></i>
                        </a>
                        <a href="https://twitter.com/Barzacks" target="_blank">
                            <i class="twitter inverted big icon popup" data-content="Twitter" data-variation="inverted"
                               data-position="bottom center"></i>
                        </a>
                        <a href="https://plus.google.com/+BaptisteMikaelian" target="_blank">
                            <i class="google plus inverted big icon popup" data-content="Google +"
                               data-variation="inverted" data-position="bottom left"></i>
                        </a>
                    </p>
                    <br>
                </div>

            </div>
            <div class="field">&nbsp;</div>
        </div>
    </div>


{% endblock %}