{% extends 'layout.twig' %}
{% block content %}

    <div class="ui grid">
        <div class="six wide column"></div>
        <div class="four wide column all" style="text-align: center">
            <img class="ui circular middle aligned small image" src="picture/baptiste.jpg">

            <h1>Baptiste Mikaelian</h1>

            <h2 class="ui red dividing inverted header"></h2>

            <p>
                <a href="https://www.linkedin.com/profile/view?id=278011128" target="_blank">
                    <i class="linkedin big inverted icon"></i>
                </a>
                <a href="https://github.com/bmikaeli" target="_blank">
                    <i class="github big inverted icon"></i>
                </a>
                <a href="https://twitter.com/Barzacks" target="_blank">
                    <i class="twitter inverted big icon"></i>
                </a>
                <a href="https://plus.google.com/+BaptisteMikaelian" target="_blank">
                    <i class="google plus inverted big icon"></i>
                </a>
            </p>
        </div>
    </div>
{% endblock %}