{% extends 'layout.twig' %}
{% block content %}

    <div class="ui form inverted">
        <div class="ui three fields">
            <div class="field">&nbsp;</div>
            <div class="field center white">
                <div class="ui styled fluid accordion black message" style="background-color: rgba(0, 0, 0, 0.4);">
                    <div class="active title" style="color: white;">
                        <i class="dropdown icon"></i>
                        Juillet 2014 - Decembre 2014 : <strong>Testapic</strong>
                    </div>
                    <div class="active content">
                        <p>Web Developpeur</p>
                    </div>
                    <div class="title" style="color: white;">
                        <i class="dropdown icon"></i>
                        Novembre 2013 - Juillet 2014 : Ecole 42 (1ere Annee)
                    </div>
                    <div class="content">
                        <p> Du C toussa toussa</p>
                    </div>
                    <div class="title" style="color: white;">
                        <i class="dropdown icon"></i>
                        2010 - 2013 : Lycee de Chamalieres (63)
                    </div>
                    <div class="content">
                        <p> Bac scientifique spe maths</p>
                    </div>
                </div>
                <div class="field">&nbsp;</div>
            </div>
        </div>
    </div>
    <script>
        $('.ui.accordion')
                .accordion();
    </script>
{% endblock %}

