{% extends 'layout.twig' %}
{% block content %}
    <div class="ui form inverted">
        <div class="ui four fields white">
            <div class="field center">
                <p>
                    <i class="icon-mysql huge icon"></i>
                    <i class="icon-php-alt huge icon"></i>
                </p>

                <h3 class="ui dividing header">PHP5</h3>

                <p>
                    Framework : Zend 2, FUEL PHP, SILLEX
                </p>

                <p>
                    IDE : JetBrain's PHPStorm
                </p>

                <p>
                    Projets : Site d'e-commerce from scratch en 2 jours (Ecole 42)
                    Developpement d'un intranet de l'ecole, avec gestions des modules et des projets de l'ecole
                    (Connection par LDAP, Base de donnee MYSQL, Framework FUEL PHP)
                </p>

                <p>
                    Developpement du nouveau BackOffice de Testapic
                    Framework Zend Framework 2, Base de donnee MYSQL et Couchbase (NoSql)
                    SendGrid WS
                    Daily SCRUM
                    Stage de 6 Mois
                </p>
            </div>
            <div class="field center">
                <p>
                    <i class="icon-c huge icon"></i>
                    <i class="icon-cplusplus huge icon"></i>
                </p>

                <h3 class="ui dividing header">C / C++</h3>

                <p>
                    Serveur et client FTP,
                    Lemmin (utilisation de la theorie des graphes, algorytme  A* Djikstra )
                    RayCasting Wolf3d, Puissance4, 42sh, printf
                </p>
            </div>
            <div class="field center">
                <p>

                    <i class="html5 huge icon"></i>
                    <i class="css3 huge icon"></i>
                    <i class="icon-javascript huge icon"></i>
                </p>

                <h3 class="ui dividing header">HTML5, CSS, JavaScript(Jquery)</h3>

                <p>
                    Highchart, Twitter's BootStrap, Semantic UI
                </p>
            </div>
            <div class="field center">
                <p>

                    <i class="database huge icon"></i>
                    <i class="fork huge icon"></i>
                    <i class="icon-nginx huge icon"></i>
                    <i class="icon-apache huge icon"></i>
                    <i class="icon-debian huge icon"></i>
                </p>

                <h3 class="ui dividing header">Autres</h3>

                <p>
                    GIT / Nginx / Apache / Syslog / Debian
                </p>
            </div>
        </div>
    </div>

{% endblock %}