{% extends 'layout.twig' %}
{% block content %}
    <div class="ui form inverted">
        <div class="ui four fields white">
            <div class="field center">
                <p>
                    <i class="icon-mysql huge icon"></i>
                    <i class="icon-php-alt huge icon"></i>
                </p>

                <h3 class="ui dividing header">PHP5</h3>

                <p>
                    Framework : <a href="http://framework.zend.com/">Zend 2</a>, <a href="http://fuelphp.com/"> FUEL
                        PHP</a>, <a href="http://silex.sensiolabs.org/">SILLEX</a>
                </p>

                <p>
                    IDE : JetBrain's <a href="https://www.jetbrains.com/phpstorm/">PHPStorm </a> , <a
                            href="https://netbeans.org/">NetBeans</a>
                </p>

                <h4>Projets :</h4>
                <ul>
                    <li><h4><strong>Site d'e-commerce simpliste</strong></h4></li>
                    <li><h4><strong>Intranet de gestion de projet de l'ecole 42</strong><a
                                    href="https://github.com/bmikaeli/intra_42"><i class="github large icon"></i></a>
                        </h4>
                        Connection par LDAP, Base de donnee MYSQL, Framework FUEL PHP
                    </li>

                    <li><h4><strong>BackOffice de <a href="http://testapic.com">Testapic</a></strong></h4>
                        Base de donnee MYSQL et Couchbase (NoSql), Framework ZF2<br>
                        WebService <a href="https://sendgrid.com/">SendGrid</a> pour l'envoi de mail<br>
                        Daily SCRUM
                    </li>
                </ul>
            </div>
            <div class="field center">
                <p>
                    <i class="icon-c huge icon"></i>
                    <i class="icon-cplusplus huge icon"></i>
                </p>

                <h3 class="ui dividing header">C / C++</h3>

                <p>
                    IDE : Sublime Text 3, Emacs
                </p>

                <h4>Projets :</h4>
                <ul>
                    <li><h4><strong>Serveur et client FTP</strong></h4></li>
                    <li><h4><strong>Lemmin</strong></h4>
                        initiation a la theorie des graphes
                        implementation des algorytmes A* et Djikstra.
                    </li>

                    <li><h4><strong>RayCasting Wolf3d</strong></h4>
                      Creation d'un clone de jeu du style Doom
                    </li>
                    <li><h4><strong>Puissance4</strong></h4>
                      Simple jeu de Puissance4, en console, avec creation d'IA qui puisse jouer contre un joueur
                    </li>
                    <li><h4><strong>42sh</strong></h4>
                      Implementation d'un Shell le plus complet possible, sur la base de Bash.
                    </li>
                    <li><h4><strong>Printf</strong></h4>
                      Implementation avec la plus d'options possible de la fonction Printf
                    </li>
                </ul>
            </div>
            <div class="field center">
                <p>

                    <i class="html5 huge icon"></i>
                    <i class="css3 huge icon"></i>
                    <i class="icon-javascript huge icon"></i>
                </p>

                <h3 class="ui dividing header">HTML5, CSS, JavaScript(Jquery)</h3>

                <p>
                    Highchart, Twitter's BootStrap, Semantic UI
                </p>
            </div>
            <div class="field center">
                <p>

                    <i class="database huge icon"></i>
                    <i class="fork huge icon"></i>
                    <i class="icon-nginx huge icon"></i>
                    <i class="icon-apache huge icon"></i>
                    <i class="icon-debian huge icon"></i>
                </p>

                <h3 class="ui dividing header">Autres</h3>

                <p>
                    GIT / Nginx / Apache / Syslog / Debian
                </p>
            </div>
        </div>
    </div>

{% endblock %}