body {
    background-image: url("../picture/background_paris.jpg");
    background-position: left;
    background-size: cover;
}

.all {
    position: absolute;
    top: 0;
    bottom: 10px;
    left: 50px;
    right: 50px;
}

img {
    border: 2px;
    border-style: solid;
    border-color: #ffffff;
}

#main {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.center {
    text-align: center;
    color: white;
}
